@import '../common/variables.css';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.maxWidthContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--mw);
}

.titleAndSearchContainer {
  width: 80%;
  margin-top: var(--s-6);
}

.searchInput {
  width: 60%;
  height: 40px;
  font-size: var(--fs-3);
  border: 2px solid var(--light-gray);
  border-radius: 4px;
  background-color: var(--lightest-gray);
  padding: var(--s-0) var(--s-0) var(--s-0) var(--s-2);
  margin: var(--s-2) var(--s-0) var(--s-2) var(--s-0);
}

.searchInput:focus {
  border: 2px solid #6558f5;
  background-color: var(--white);
  outline: none;
}

.filtersContainer {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-top: var(--s-2);
  margin-bottom: var(--s-2);
}

.searchResults {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.providersContainer {
  width: 80%;
  /* border-top: 2px solid var(--light-gray);
  border-right: 2px solid var(--light-gray);
  border-left: 2px solid var(--light-gray); */
}

.providersContainer:first-child {
  margin-top: var(--s-3);
}

.noProviders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: var(--s-6);
  padding: var(--s-4) var(--s-4) var(--s-4) var(--s-4);
}

.noProvidersText {
  margin-top: var(--s-6);
}

.pageInfo {
  font-size: var(--fs-3);
  margin: var(--s-6) var(--s-0) var(--s-3) var(--s-0);
}

.pagination {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  font-size: var(--fs-3);
}

.pageClassName {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--br-1);
  height: 25px;
  width: 25px;
  margin: var(--s-0) var(--s-1) var(--s-0) var(--s-1);
  background-color: var(--primary-light);
}

.pageClassName:hover {
  cursor: pointer;
}

.activeLink {
  color: white;
  background-color: var(--primary);
}

.pageLinkClassName {
  outline: none;
}

.paginationButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--br-1);
  letter-spacing: 1px;
  color: var(--primary);
  outline: none;
  border: none;
  margin: var(--s-0) var(--s-4) var(--s-0) var(--s-4);
}

.paginationButton:hover {
  cursor: pointer;
  color: var(--primary-dark);
}

.paginationLinkButton {
  outline: none;
}
