@import '../common/variables.css';

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 2px solid var(--light-gray);
  padding: var(--s-4) var(--s-4) var(--s-4) var(--s-4);
}

.container:hover {
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: var(--darkest-gray);
}

.contactInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.photoandInfoContainer {
  display: flex;
  align-items: center;
}

.providerPhoto {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  object-fit: cover;
  background-size: contain;
  border-radius: 50%;
  margin: var(--s-0) var(--s-5) var(--s-0) var(--s-0);
}

.providerInfo {
  width: 100%;
  font-size: var(--fs-2);
}

.name {
  color: var(--primary);
  font-size: var(--fs-4);
  font-weight: var(--fw-5);
}

.contactAction {
  height: 32px;
  width: 32px;
  color: var(--primary);
  border: 2px solid var(--primary-light);
  padding: var(--s-1);
  margin: var(--s-0) var(--s-1) var(--s-0) var(--s-1);
}

.contactAction:hover {
  border: 2px solid var(--primary);
  background-color: var(--lightest-gray);
}

.overview {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-size: var(--fs-2);
  margin-top: var(--s-3);
}

.itemContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: var(--s-3);
}

.itemContainer:nth-child(odd) {
  margin-right: var(--s-3);
}

.itemContainer:last-child {
  width: 100%;
}

.label {
  font-weight: 700;
  margin-right: var(--s-3);
}

/* .summary {
}

.actionsContianer {
  display: flex;
  margin-right: var(--s-6);
}

.chevron {
  transition: all 300ms ease;
}

.chevronActive {
  composes: chevron;
  transform: translateX(10px);
} */
