@import '../common/variables.css';

.container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 4;
  top: 0px;
}

.containerHidden {
  display: none;
}

.fadedBackground {
  width: 100%;
  height: 100%;
  background-color: var(--faded-black);
  opacity: 0;
  animation: fadeIn 200ms ease 50ms forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.backgroundHidden {
  composes: fadedBackground;
  opacity: 1;
  animation: fadeOut 200ms ease 50ms forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  line-height: 1.75;
  top: 50%;
  left: 50%;
  min-width: 500px;
  border-radius: var(--br-1);
  max-width: 775px;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  opacity: 0;
  padding: var(--s-8) var(--s-8) var(--s-9) var(--s-8);
  animation: slideDown 200ms ease 50ms forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translate(-50%, -50%);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -45%);
  }
}

/* .modalHidden {
  composes: modal;
  
  animation: slideUp 5000ms ease 50ms forwards;
}

@keyframes slideUp {
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  to {
    opacity: 0;
    transform: translate(-50%, -55%);
  }
} */

.header {
  font-size: 20px;
  font-weight: var(--fw-5);
  color: var(--primary);
}

.subheader {
  font-size: var(--fs-3);
  font-weight: var(--fw-5);
  margin-top: var(--s-4);
}

.actionItems {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 50px;
}

.contactButtons {
  position: absolute;
  right: 40px;
  bottom: 50px;
}

.websiteLink {
  margin: var(--s-1) var(--s-5) var(--s-1) var(--s-1);
}

.closeButton {
  position: absolute;
  right: 20px;
  top: 20px;
}

.closeButton:hover {
  cursor: pointer;
}

@media (max-width: 678px) {
  .modal {
    font-size: var(--fs-2);
    min-width: 350px;
  }

  .header {
    font-size: var(--fs-3);
  }

  .subheader {
    font-size: var(--fs-2);
  }

  .contactButtons {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    right: 0px;
    bottom: 20px;
  }
}
