@import '../common/variables.css';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  line-height: 1.5;
}

.maxWidthContainer {
  max-width: var(--mw);
}

.mainContentContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: var(--s-9) var(--s-3) var(--s-0) var(--s-3);
}

.textContainer {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
  position: relative;
  width: 50%;
  font-size: var(--fs-4);
  margin-bottom: var(--s-5);
}

.title {
  font-size: var(--fs-6);
  font-weight: var(--fw-5);
  margin-bottom: var(--s-2);
}

.p1 {
}

.p2 {
  margin: var(--s-4) var(--s-0) var(--s-5) var(--s-0);
}

/* .pearImage {
  align-self: center;
  width: 250px;
  margin: var(--s-0) var(--s-7) var(--s-0) var(--s-0);
} */

.backButton {
  display: flex;
  /* margin-left: 100px; */
  margin-bottom: 25px;
  color: var(--primary);
  text-decoration: none;
}

.skipTextContainer {
  font-size: var(--fs-2);
  margin-top: var(--s-4);
}

.skipTextPath {
  color: var(--primary);
}

@media (max-width: 768px) {
  .mainContentContainer {
    justify-content: center;
    margin: var(--s-4) var(--s-3) var(--s-0) var(--s-3);
  }

  .textContainer {
    width: 80%;
    font-size: var(--fs-4);
  }

  .title {
    font-size: var(--fs-6);
    font-weight: var(--fw-5);
    margin-bottom: var(--s-2);
  }
}
