.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 200px 0 200px 0;
}

.valuePropsContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 77%;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}

.title {
  text-align: center;
}

.description {
  color: hsl(228, 14%, 58%);
  font-size: 20px;
  width: 50%;
  line-height: 1.75;
  hyphens: auto;
}

@media (max-width: 768px) {
  .valuePropsContainer {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 100px 0 100px 0;
  }
}
