@import '../common/variables.css';

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.welcomeMessage {
  width: 87%;
  font-size: var(--fs-7);
  margin: var(--s-5) var(--s-0) var(--s-5) var(--s-0);
}

.actionsContainer {
  display: flex;
  width: 72%;
  /* font-size: var(--fs-7); */
  margin: var(--s-5) var(--s-0) var(--s-5) var(--s-0);
}
