.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.title {
  width: 60%;
  font-size: var(--fs-7);
  margin: var(--s-5) var(--s-0) var(--s-5) var(--s-0);
}

.savedProvidersContainer {
  width: 60%;
  border: 2px solid gray;
  border-radius: var(--br-1);
  font-size: var(--fs-5);
}

.savedProviderCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-bottom: 2px solid gray;
  padding: var(--s-0) var(--s-8) var(--s-0) var(--s-8);
}

.savedProviderCard:last-child {
  border-bottom: none;
}

.name {
  color: var(--primary);
  font-weight: var(--fw-4);
}

.trashIcon:hover {
  cursor: pointer;
}

.loader {
  margin-top: var(--s-9);
}

.noProviders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: var(--s-8);
  margin-bottom: var(--s-8);
  padding: var(--s-4) var(--s-4) var(--s-4) var(--s-4);
}

.noProvidersText {
  line-height: 1.75;
  text-align: center;
  width: 500px;
  margin-top: var(--s-6);
}

.providerPhoto {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  object-fit: cover;
  background-size: contain;
  border-radius: 50%;
  margin: var(--s-0) var(--s-7) var(--s-0) var(--s-0);
  box-shadow: var(--bs-2);
}

.providerNoPhoto {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  object-fit: cover;
  background-size: contain;
  background-color: var(--light-gray);
  border-radius: 50%;
  margin: var(--s-0) var(--s-7) var(--s-0) var(--s-0);
  box-shadow: var(--bs-2);
}
