@import '../common/variables.css';

.input {
  width: 350px;
  font-size: var(--fs-2);
}

.supplementaryText {
  font-size: var(--fs-2);
  margin-bottom: var(--s-3);
  font-style: italic;
}

@media (max-width: 678px) {
  .input {
    width: 70%;
  }
}
