@import '../common/variables.css';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 200px;
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
  border: 2px solid rgb(198, 203, 219);
  margin: var(--mt-7) var(--mr-2) var(--mb-0) var(--ml-2);
  transition: all 400ms ease;
}

.container:hover {
  cursor: pointer;
  border: 3px solid rgb(97, 218, 103);
  box-shadow: 0 15px 35px hsla(0, 0%, 0%, 0.2);
  transform: translateY(-1px);
}

.icon {
  align-self: center;
  width: 65px;
  height: 60px;
  background-color: rgb(198, 203, 219);
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.providerType {
  display: inline-block;
  font-size: var(--fs-4);
  font-weight: var(--fw-4);
  margin: var(--m-4) var(--m-0) var(--m-1) var(--m-2);
}

.providerDescription {
  display: inline-block;
  font-size: var(--fs-3);
  margin: var(--m-0);
}
