@import '../common/variables.css';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 225px;
  height: 200px;
  border: 2px solid rgb(160, 160, 160);
  margin: var(--mt-7) var(--mr-2) var(--mb-0) var(--ml-2);
}

.icon {
  align-self: center;
  width: 65px;
  height: 60px;
  background-color: gray;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.providerType {
  display: inline-block;
  font-size: var(--fs-4);
  font-weight: var(--fw-4);
  margin: var(--m-4) var(--m-0) var(--m-1) var(--m-2);
}

.providerDescription {
  display: inline-block;
  font-size: var(--fs-3);
  margin: var(--m-0);
}
