@import '../common/variables.css';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 225px;
  height: 200px;
  /* background-color: blue; */
  border: 2px solid gray;
}

/* .img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%;
  background-color: antiquewhite;
} */

.icon {
  align-self: center;
  width: 65px;
  height: 65px;
  background-color: gray;
}

.textContainer {
  display: flex;
  flex-direction: column;
  /* width: 100%;
  height: 50%; */
}

.therapistType {
  display: inline-block;
  font-size: var(--fs-4);
  font-weight: var(--fw-4);
  margin: var(--m-4) var(--m-0) var(--m-1) var(--m-2);
}

.therapistDescription {
  display: inline-block;
  font-size: var(--fs-3);
  margin: var(--m-0);
}
