.container {
  display: flex;
  align-items: center;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--fs-1);
  margin: var(--mt-0) var(--mr-0) var(--mb-0) var(--ml-0);
}

.circle {
  text-align: center;
  line-height: 26px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 2px #c3cfd9;
  background-color: white;
  font-size: var(--fs-2);
  margin-bottom: var(--mb-2);
}

.circleActive {
  composes: circle;
  border: none;
  background-color: #a3ded8;
  line-height: 30px;
}

.line {
  width: 75px;
  height: 3px;
  background-color: #fff;
  border: none;
  border-top: 3px dotted #c3cfd9;
  margin: var(--mt-0) var(--mr-0) var(--mb-5) var(--ml-0);
}

.lineActive {
  composes: line;
  border-top: 2px solid #1aae9f;
}
