@import '../common/variables.css';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.modal {
  width: 80%;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(198, 203, 219);
  color: black;
  padding: var(--p-5);
}

.title {
  font-size: var(--fs-6);
  font-weight: var(--fw-3);
  margin: var(--mt-5) var(--mr-0) var(--mb-4) var(--ml-0);
}

.supportingTextContainer {
}

.subtext {
  font-size: var(--fs-4);
  font-weight: var(--fw-3);
  margin: var(--mb-0) var(--mb-0) var(--mb-0) var(--mb-0);
}

.skipQuestion {
  font-size: var(--fs-3);
  font-weight: var(--fw-3);
  margin-top: var(--mt-1);
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: var(--mt-0) var(--mr-0) var(--mb-8) var(--ml-0);
}
