@import '../common/variables.css';

.input {
  width: 500px;
  height: 35px;
  font-size: var(--fs-2);
  border: 2px solid #c2cfd9;
  border-radius: 4px;
  background-color: #f7f9fa;
  padding: var(--pt-0) var(--pr-0) var(--pb-0) var(--pl-2);
}

.input:focus {
  border: 2px solid #6558f5;
  outline: none;
}

.supplementaryText {
  font-size: var(--fs-2);
  margin-bottom: var(--mb-2);
}

.longInput {
  composes: input;
  width: 800px;
}
