@import '../common/variables.css';

.container {
  position: fixed;
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
  border-top: 7px solid #71da71;
  background: rgb(255, 255, 255);
  width: 100%;
  height: 80px;
  z-index: 1;
}

.nameAndNavContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.imageNameContainer {
  display: flex;
  align-items: center;
  margin-left: var(--ml-8);
}

.productImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: gray;
}

.productName {
  color: hsl(228, 21%, 31%);
  font-size: var(--fs-5);
  margin-left: var(--ml-3);
}

.progressTracker {
  margin-right: var(--mr-8);
}

@media (max-width: 768px) {
  .imageNameContainer {
    display: flex;
    align-items: center;
    margin-left: var(--ml-5);
  }

  .productImage {
    width: 40px;
    height: 40px;
  }

  .productName {
    font-size: 22px;
    margin-right: 15px;
  }
}

@media (max-width: 378px) {
  .productName {
    font-size: 18px;
    margin-right: 15px;
  }
}
