@import '../common/variables.css';

.container {
  height: 100vh;
}

.questionsContainer {
  margin-top: 80px;
  margin-left: 80px;
}

.question {
  font-size: var(--fs-4);
  margin: var(--mt-5) var(--mr-0) var(--mb-1) var(--ml-0);
}

.exampleAnswers {
  font-size: var(--fs-2);
  margin-bottom: var(--mb-1);
}

.input {
  width: 500px;
  height: 35px;
  font-size: var(--fs-2);
  border: 1px solid #c2cfd9;
  border-radius: 4px;
  background-color: #f7f9fa;
  padding: var(--pt-0) var(--pr-0) var(--pb-0) var(--pl-2);
}

.longInput {
  composes: input;
  width: 800px;
}

.input:focus {
  border: 2px solid #6558f5;
  outline: none;
}

.submitButton {
  height: 40px;
  width: 140px;
  font-size: var(--fs-3);
  font-weight: var(--fw-1);
  border-radius: 5px;
  letter-spacing: 1px;
  background-color: #1aae9f;
  color: white;
  outline: none;
  border: none;
  box-shadow: var(--bs-1);
  transition: background-color 300ms ease;
}

.submitButton:hover {
  cursor: pointer;
  background-color: rgb(0, 100, 100);
}
