@import '../common/variables.css';

.container {
  height: 100vh;
}

.questionsContainer {
  margin-top: 100px;
  margin-left: 100px;
}

.title {
  font-size: var(--fs-5);
  font-weight: var(--fw-5);
  margin-bottom: var(--mb-4);
}

.careTypeContainer {
  height: 125px;
  width: 175px;
  border: 2px solid #d6dfe5;
  padding: var(--pt-4) var(--pr-0) var(--pb-0) var(--pl-4);
  margin: var(--mt-3) var(--mr-3) var(--mb-3) var(--ml-0);
  transition: box-shadow 300ms ease;
}

.careTypeContainer:hover {
  cursor: pointer;
  box-shadow: var(--bs-2);
}

.careTypeName {
  font-size: var(--fs-3);
  font-weight: 600;
}

.careTypeDescription {
  font-size: var(--fs-2);
  line-height: 1.5;
}

.submitButton {
  height: 40px;
  width: 140px;
  font-size: var(--fs-3);
  font-weight: var(--fw-1);
  border-radius: 5px;
  letter-spacing: 1px;
  background-color: #1aae9f;
  color: white;
  outline: none;
  border: none;
  box-shadow: var(--bs-1);
  transition: background-color 300ms ease;
}

.submitButton:hover {
  cursor: pointer;
  background-color: rgb(0, 100, 100);
}
