.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 200px 0 200px 0;
}

.featuresContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 77%;
}

.title {
  text-align: center;
  margin-bottom: 70px;
}

@media (max-width: 768px) {
  .featuresContainer {
    width: 40%;
  }

  .container {
    padding: 100px 0 100px 0;
  }
}
