@import '../common/variables.css';

.container {
  position: fixed;
  display: flex;
  justify-content: center;
  border-top: 7px solid #71da71;
  background: rgb(255, 255, 255);
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
  width: 100%;
  height: 80px;
}

.nameAndNavContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.imageNameContainer {
  display: flex;
  align-items: center;
  margin-left: var(--ml-8);
}

.productImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: gray;
}

.productName {
  color: hsl(228, 21%, 31%);
  font-size: var(--fs-5);
  margin-left: var(--ml-3);
}

.productName:hover {
  cursor: pointer;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  margin-right: var(--mr-8);
  list-style: none;
}

.navButton {
  color: hsl(228, 21%, 31%);
  font-size: var(--fs-4);
  font-weight: var(--fw-5);
  transition: color 300ms ease;
}

.navButton:hover {
  color: #71da71;
  cursor: pointer;
}

.signInButton {
  height: 36px;
  width: 95px;
  border-radius: 5px;
  font-size: var(--fs-2);
  letter-spacing: 1px;
  border: solid 2px #7af77a;
  outline: none;
  color: #71da71;
  transition: background-color, border 300ms ease;
}

.signInButton:hover {
  cursor: pointer;
  border: solid 2px #71da71;
}

@media (max-width: 768px) {
  .imageNameContainer {
    display: flex;
    align-items: center;
    margin-left: var(--ml-5);
  }

  .productImage {
    width: 40px;
    height: 40px;
  }

  .productName {
    font-size: 22px;
    margin-right: 15px;
  }

  .navContainer {
    width: 325px;
    margin-right: var(--mr-5);
  }

  .navButton {
    font-size: var(--fs-2);
  }

  .signInButton {
    height: 32px;
    width: 85px;
  }
}

@media (max-width: 378px) {
  .productName {
    font-size: 18px;
    margin-right: 15px;
  }

  .navContainer {
    width: 180px;
  }

  .navButton {
    font-size: 14px;
  }
}
