.container {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;
  /* height: 100vh; */
}

.introContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: center;
  top: 50px;
  width: 600px;
  z-index: 1;
}

.tagline {
  font-size: var(--fs-7);
  font-weight: var(--fw-4);
  line-height: 1.3;
  margin: var(--s-9) var(--s-0) var(--s-4) var(--s-0);
}

.supplementaryText {
  line-height: 1.5;
  font-size: var(--fs-4);
}

.learnMoreLink {
  margin: var(--s-3) var(--s-0) var(--s-7) var(--s-0);
}

.pearImagesContainer {
  position: absolute;
  display: flex;
  justify-content: space-around;
  top: 20%;
  /* width: 100%; */
}

.pearImage {
  align-self: center;
  width: 360px;
  height: 324px;
}

.pearImage:nth-child(even) {
  margin: var(--s-12) var(--s-11) var(--s-0) var(--s-11);
}

@media (max-width: 768px) {
  .introContainer {
    width: 80%;
  }
}
