.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 200px 0 200px 0;
}

.membersContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
}

.titleSponsorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 75px;
}

.title {
  margin-bottom: 10px;
}

.sponsor {
  font-weight: 500;
  text-align: center;
  width: 80%;
}

@media (max-width: 768px) {
  .container {
    padding: 100px 0 100px 0;
  }
}
