.container {
  position: fixed;
  display: flex;
  justify-content: center;
  border-top: 7px solid #71da71;
  background: rgb(255, 255, 255);
  padding: 1rem 0 0 0;
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
  width: 100%;
}

.nameAndNavContainer {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 95%;
  max-width: 1400px;
}

.productName {
  color: hsl(228, 21%, 31%);
  font-size: 30px;
}

.productName:hover {
  cursor: pointer;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  width: 300px;
  list-style: none;
}

.navButton {
  color: hsl(228, 21%, 31%);
  font-size: 20px;
  font-weight: 700;
  transition: color 300ms ease;
}

.navButton:hover {
  color: #71da71;
  cursor: pointer;
}

@media (max-width: 768px) {
  .productName {
    font-size: 22px;
    margin-right: 15px;
  }

  .navContainer {
    width: 220px;
  }

  .navButton {
    font-size: 16px;
  }
}

@media (max-width: 378px) {
  .productName {
    font-size: 18px;
    margin-right: 15px;
  }

  .navContainer {
    width: 180px;
  }

  .navButton {
    font-size: 14px;
  }
}
