@import '../common/variables.css';

.container {
  display: flex;
  flex-direction: column;
  font-size: var(--fs-4);
  align-items: center;
  text-align: center;
  justify-content: center;
  overflow: auto;
  box-shadow: var(--bs-5);
  width: 60%;
  height: 55%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text_content {
  position:relative;
  padding-bottom: var(--p-5);
}

.button {
  min-width: 220px;
  min-height: 45px;
  border-radius: var(--br-2);
  background-color: rgb(0, 140, 255);
  color: white;
  text-align: center;
  margin-bottom: var(--mb-3);
  font-size: var(--fs-3);
}

.header {
  font-size: var(--fs-7);
  margin-bottom: var(--mb-5);
}

p {
  margin: var(--m-3);
}
