@import '../common/variables.css';

.container {
  display: flex;
  position: relative;
  border-bottom: 2px solid #c9d4dd;
  align-items: center;
  padding: var(--s-4) var(--s-0) var(--s-4) var(--s-4);
}

.container:hover {
  cursor: pointer;
}

.providerPhoto {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  /* background-image: url('../images/Jen+Adams.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; */
  border-radius: 50%;
  background-color: bisque;
  margin: var(--s-0) var(--s-5) var(--s-0) var(--s-0);
}

.providerInfo {
  width: 100%;
  font-size: var(--fs-2);
}

.name {
  font-size: var(--fs-3);
  font-weight: var(--fw-5);
}

.specialization {
  font-style: italic;
  margin-bottom: var(--s-2);
}

.summary {
}

.actionsContianer {
  display: flex;
  margin-right: var(--s-6);
}

.chevron {
  transition: all 300ms ease;
}

.chevronActive {
  composes: chevron;
  transform: translateX(10px);
}
