@import './common/variables.css';

.app {
  margin: var(--m-5);
  font-size: var(--fs-7);
  font-family: Arial, Helvetica, sans-serif;
  color: purple;
} 

.load_container {
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  position:fixed;
}

.loader {
  animation-name: example;
  animation-duration: 1s;
  width: 100px;
  height: 100px;
}


@keyframes example {

  0%   {background-color:rgb(204, 125, 204);}
  50%  {background-color:rgb(155, 233, 155); }
  100% {background-color:rgb(204, 125, 204);}
}
