@import '../common/variables.css';

.button {
  font-size: var(--fs-3);
  font-weight: var(--fw-1);
  border-radius: 5px;
  letter-spacing: 1px;
  color: white;
  outline: none;
  border: none;
  box-shadow: var(--bs-1);
  /* padding: var(--s-3); */
  transition: background-color 300ms ease;
}

.button:hover {
  cursor: pointer;
}

.primary {
  background-color: hsl(174, 74%, 39%);
}

.primary:hover {
  background-color: hsl(180, 100%, 20%);
}

.warning {
}

.danger {
}

.success {
}

.small {
  height: 36px;
  width: 95px;
}

.medium {
  height: 50px;
  width: 180px;
}

.large {
  height: 50px;
  width: 270px;
}
