@import '../common/variables.css';

.container {
  display: flex;
  align-items: center;
  margin: var(--s-0) var(--s-0) var(--s-3) var(--s-0);
}

input[type='checkbox'] {
  -webkit-appearance: none;
  outline: none;
  width: 20px;
  height: 20px;
  border-radius: var(--br-1);
  border: 2px solid #c2cfd8;
}
input[type='checkbox']:checked {
  background: #3b88fd;
}

.optionName {
  display: inline;
  font-size: var(--fs-3);
  margin-left: var(--s-3);
}
