@import '../common/variables.css';

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 375px;
  /* height: 300px; */
  border-radius: var(--br-1);
  background-color: antiquewhite;
  box-shadow: var(--bs-1);
  padding: var(--s-5);
  z-index: 10;
}

.checkboxes {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* width: 375px; */
  /* height: 300px; */
  /* border-radius: var(--br-1);
  background-color: antiquewhite;
  box-shadow: var(--bs-1);
  padding: var(--s-5);
  z-index: 10; */
}

.checkboxOption {
  margin-bottom: var(--s-2);
}

.checkboxOptionHidden {
  display: none;
}

.showMoreButton {
  position: absolute;
  bottom: 13%;
  color: var(--primary);
}

.showMoreButton:hover {
  cursor: pointer;
}

.applyButton {
  /* position: absolute; */
  margin: var(--s-2) var(--s-0) var(--s-2) 70%;

  width: 100px;
  height: 25px;
}

.text {
  margin-left: var(--s-2);
}
