@import '../common/variables.css';

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 375px;
  /* height: 300px; */
  border-radius: var(--br-1);
  background-color: #f9f9f9;
  /* background-color: white; */
  box-shadow: var(--bs-1);
  padding: var(--s-5);
  z-index: 10;
}

.checkboxes {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100%;
  /* flex-wrap: wrap; */
  /* width: 375px; */
  /* height: 300px; */
  /* border-radius: var(--br-1);
  background-color: antiquewhite;
  box-shadow: var(--bs-1);
  padding: var(--s-5);
  z-index: 10; */
}

.checkboxesScroll {
  position: relative;
  composes: checkboxes;
  overflow: auto;
  /* border: 2px solid rgba(135, 135, 135, 0.5); */
  border-radius: var(--br-1);
  /* box-shadow: inset 0 0 5px var (--light-gray); */
  /* box-shadow: inset 0 -5px 10px -10px #000000; */
  padding: var(--s-0) var(--s-3) var(--s-0) var(--s-3);
  /* background: linear-gradient(transparent, 98%, var(--light-gray)) no-repeat; */
}

.gradient {
  position: absolute;
  height: 100px;
  width: 100%;
  top: 0;
  left: 0;
  /* background: linear-gradient(0deg, yellow, blue 80%) no-repeat; */
  background: linear-gradient(transparent, 90%, var(--light-gray)) no-repeat;
}

.checkboxOption {
  margin-bottom: var(--s-3);
}

.checkboxOptionHidden {
  display: none;
}

.clearButton {
  position: absolute;
  bottom: 13%;
  color: var(--primary);
}

.clearButton:hover {
  cursor: pointer;
}

.applyButton {
  /* position: absolute; */
  margin: var(--s-4) var(--s-0) var(--s-2) 63%;

  width: 100px;
  height: 25px;
}

.text {
  margin-left: var(--s-2);
}
