.container {
  display: flex;
  align-items: center;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--fs-1);
  margin: var(--s-0) var(--s-0) var(--s-0) var(--s-0);
}

.circle {
  text-align: center;
  line-height: 26px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 2px var(--light-gray);
  background-color: var(--white);
  font-size: var(--fs-2);
  margin-bottom: var(--s-2);
}

.circleActive {
  composes: circle;
  border: none;
  background-color: var(--primary-light);
  line-height: 30px;
}

.line {
  width: 75px;
  height: 3px;
  background-color: var(--white);
  border: none;
  border-top: 3px dotted var(--light-gray);
  margin: var(--s-0) var(--s-0) var(--s-5) var(--s-0);
}

.lineActive {
  composes: line;
  border-top: 2px solid var(--primary);
}
