.container {
  display: flex;
  align-items: center;
  margin-top: var(--s-2);
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--fs-2);
}

.circle {
  text-align: center;
  line-height: 34px;
  width: 38px;
  height: 38px;
  border-radius: var(--br-circle);
  /* border: solid 2px var(--light-gray); */
  border: solid 2px var(--primary-light);
  background-color: var(--white);
  font-size: var(--fs-3);
  margin-bottom: var(--s-2);
  box-shadow: var(--bs-2);
  transition: background-color 1000ms ease 750ms, border 1000ms ease 750ms,
    transform 1000ms ease 750ms;
}

.circleActive {
  composes: circle;
  color: black;
  border: none;
  background-color: var(--primary-light);
  border: solid 2px var(--primary-light);
  /* background-color: var(--primary);
  border: solid 2px var(--primary); */
  /* line-height: 32px; */
}

.circleCurrentStep {
  composes: circleActive;
  background-color: var(--primary-light);
  transform: translateY(0px);
  box-shadow: var(--bs-2);
  color: black;
  animation: backgroundColorChange 1000ms ease forwards 550ms,
    textColorChange 100ms ease forwards 550ms;
}

@keyframes textColorChange {
  from {
    color: black;
  }

  to {
    color: white;
  }
}

@keyframes backgroundColorChange {
  from {
    background-color: var(--primary-light);
    border: solid 2px var(--primary-light);
    transform: translateY(0px);

    box-shadow: var(--bs-2);
  }

  to {
    background-color: var(--primary);
    border: solid 2px var(--primary);
    transform: translateY(-4px);
    color: white;
    box-shadow: var(--bs-3);
  }
}

.linesContainer {
  position: relative;
  width: 75px;
}

.line {
  width: 100%;
  height: 5px;
  border: none;
  border-top: 6px dotted var(--light-gray);
  margin: var(--s-0) var(--s-0) var(--s-5) var(--s-0);
}

.lineActive {
  composes: line;
  border-top: 2px solid var(--primary-light);
}

.filledUpLine {
  position: absolute;
  height: 6px;
  border: none;
  border-radius: var(--br-1);
  background-color: var(--primary-light);
}

@media (max-width: 768px) {
  .circle {
    line-height: 25px;
    width: 28px;
    height: 28px;
    margin-bottom: var(--s-2);
  }

  .line {
    width: 40px;
  }
}

@media (max-width: 678px) {
  .stepName {
    display: none;
  }

  .circle {
    line-height: 25px;
    width: 28px;
    height: 28px;
    margin-bottom: var(--s-0);
  }

  .line {
    width: 30px;
    margin: var(--s-0) var(--s-3) var(--s-0) var(--s-3);
  }
}
