.container {
  display: flex;
  align-items: center;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--fs-2);
}

.circle {
  text-align: center;
  line-height: 36px;
  width: 40px;
  height: 40px;
  border-radius: var(--br-circle);
  /* border: solid 2px var(--light-gray); */
  border: solid 2px var(--primary-light);
  background-color: var(--white);
  font-size: var(--fs-3);
  margin-bottom: var(--s-2);
  box-shadow: var(--bs-2);
  transition: background-color 1000ms ease 350ms, border 1000ms ease 350ms,
    transform 1000ms ease 350ms;
}

.circleActive {
  composes: circle;
  color: var(--white);
  border: none;
  background-color: var(--primary-light);
  border: solid 2px var(--primary-light);
  line-height: 36px;
}

.circleCurrentStep {
  composes: circleActive;
  background-color: var(--primary);
  border: solid 2px var(--primary);
  transform: translateY(-4px);
}

.linesContainer {
  position: relative;
  width: 75px;
}

.line {
  width: 100%;
  height: 5px;
  /* background-color: var(--white); */
  border: none;
  border-top: 8px dotted var(--light-gray);
  margin: var(--s-0) var(--s-0) var(--s-5) var(--s-0);
}

.lineActive {
  composes: line;
  border-top: 2px solid var(--primary);
}

.filledUpLine {
  position: absolute;
  /* width: 100%; */
  height: 8px;
  border: none;
  border-radius: var(--br-1);
  background-color: var(--primary);
}

.filledUpLineActive {
  composes: filledUpLine;
}

/* .step1FilledUpLine {
  composes: filledUpLine;
  background-color: black;
} */

@media (max-width: 768px) {
  .circle {
    line-height: 25px;
    width: 28px;
    height: 28px;
    margin-bottom: var(--s-2);
  }

  .line {
    width: 40px;
  }
}

@media (max-width: 678px) {
  .stepName {
    display: none;
  }

  .circle {
    line-height: 25px;
    width: 28px;
    height: 28px;
    margin-bottom: var(--s-0);
  }

  .line {
    width: 30px;
    margin: var(--s-0) var(--s-3) var(--s-0) var(--s-3);
  }
}
