@import '../common/variables.css';

.container {
  position: relative;
  display: block;
}

.checkboxContainer {
  position: relative;
  z-index: 1;
  animation: slideDown 250ms ease forwards;
}

@keyframes slideDown {
  from {
    opacity: 0.5;
    transform: translateY(-5px);
  }

  to {
    opacity: 1;
    transform: translateY(5px);
  }
}

.checkboxes {
  position: absolute;
}

.filterButton {
  border: 2px solid #a3ded8;
  border-radius: 4px;
  padding: var(--s-2) var(--s-4) var(--s-2) var(--s-4);
  margin: var(--s-1) var(--s-1) var(--s-2) var(--s-1);
  font-size: var(--fs-3);
  color: var(--primary);
  background-color: var(--white);
  letter-spacing: 0.05em;
  outline: none;
  transition: background-color 200ms ease;
}

.filterButton:hover {
  cursor: pointer;
  border: 2px solid var(--primary);
  background-color: var(--primary);
  color: var(--white);
}

.activeFilterButton {
  composes: filterButton;
  background-color: var(--primary);
  color: var(--white);
}
