@import '../common/variables.css';

.container {
  position: relative;
  display: block;
}

.checkboxes {
  position: absolute;
}

.button {
  border: 2px solid #a3ded8;
  border-radius: 4px;
  padding: var(--s-2) var(--s-4) var(--s-2) var(--s-4);
  margin: var(--s-1) var(--s-1) var(--s-2) var(--s-1);
  font-size: var(--fs-3);
  color: var(--primary);
  background-color: var(--white);
  letter-spacing: 0.05em;
  transition: background-color 200ms ease;
}

.button:hover {
  cursor: pointer;
  border: 2px solid var(--primary);
  background-color: var(--primary);
  color: var(--white);
}

.activeButton {
  composes: button;
  background-color: var(--primary);
  color: var(--white);
}
