:root {
  /* Colors */
  --primary: hsl(174, 74%, 39%);
  --primary-light: hsl(174, 47%, 75%);
  --primary-dark: hsl(180, 100%, 20%);
  --darkest-gray: hsl(220, 27%, 22%);
  --dark-gray: hsl(228, 21%, 31%);
  --gray: hsl(228, 14%, 58%);
  --light-gray: hsl(206, 23%, 81%);
  --lightest-gray: hsl(200, 23%, 97%);
  --peach: hsl(34, 100%, 81%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --faded-black: hsl(0, 0%, 0%, 0.5);

  /* Opacity */
  --opacity-0: 0;
  --opacity-1: 0.2;
  --opacity-2: 0.4;
  --opacity-3: 0.7;
  --opacity-4: 1;

  /* Font-Size */
  --fs-1: 12px;
  --fs-2: 14px;
  --fs-3: 16px;
  --fs-4: 18px;
  --fs-5: 24px;
  --fs-6: 30px;
  --fs-7: 36px;
  --fs-8: 48px;
  --fs-9: 60px;
  --fs-10: 72px;

  /* Font-Weight */
  --fw-1: 100;
  --fw-2: 300;
  --fw-3: 400;
  --fw-4: 600;
  --fw-5: 700;

  /* Spacing */
  --s-0: 0px;
  --s-1: 4px;
  --s-2: 8px;
  --s-3: 12px;
  --s-4: 16px;
  --s-5: 24px;
  --s-6: 32px;
  --s-7: 48px;
  --s-8: 64px;
  --s-9: 96px;
  --s-10: 128px;
  --s-11: 192px;
  --s-12: 256px;
  --s-13: 384px;
  --s-14: 512px;
  --s-15: 640px;
  --s-16: 768px;

  /* Border-Width */
  --bw-1: 1px;
  --bw-2: 2px;
  --bw-3: 4px;
  --bw-4: 7px;

  /* Border-Radius */
  --br-1: 4px;
  --br-2: 10px;
  --br-3: 20px;
  --br-4: 40px;
  --br-5: 80px;
  --br-circle: 50%;

  /* Box-Shadow */
  --bs-1: 0 1px 3px hsla(0, 0%, 0%, 0.2);
  --bs-2: 0 4px 6px hsla(0, 0%, 0%, 0.2);
  --bs-3: 0 5px 15px hsla(0, 0%, 0%, 0.2);
  --bs-4: 0 10px 24px hsla(0, 0%, 0%, 0.2);
  --bs-5: 0 15px 35px hsla(0, 0%, 0%, 0.2);
}
